<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title><%=ce_data[0]['name']%></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <!-- NavBar -->
    <div id="navbar-placeholder" style="position: sticky; z-index: 2;"></div>
    <!-- End NavBar -->

    <div class="profile-content-wrapper">
        <div class="label id-label"><h5>ID: <%=ce_data[0]['ce_id']%></h5></div>
        <div class="profile-row">
            <div class="img-wrapper">
                <img src="<%=ce_img_path[0]['path']%>" alt="<%=ce_data[0]['name']%>">
            </div>
            <div class="table-wrapper" style="margin: 0; width: 70%;">
                <table class="table-content ce-table">
                    <thead>
                        <tr>
                            <th colspan="2"><%=ce_data[0]['name']%></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 50%;"><b>Cost: </b><%=ce_data[0]['cost']%></td>
                            <td><b>Illustrator: </b><%=ce_data[0]['illustrator']%></td>
                        </tr>
                        <tr>
                            <td><b>Min HP: </b><%=ce_data[0]['min_hp']%></td>
                            <td><b>Max HP: </b><%=ce_data[0]['max_hp']%></td>
                        </tr>
                        <tr>
                            <td><b>Min ATK: </b><%=ce_data[0]['min_atk']%></td>
                            <td><b>Max ATK: </b><%=ce_data[0]['max_atk']%></td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Rarity: </b><%=ce_data[0]['rarity']%>&#9733;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="label effect-label"><h5>Effect</h5></div>
        <div class="profile-row">
            <table class="table-content effect-table table-border">
                <tbody class="text-center">
                    <tr>
                        <th style="width: 15%;">Effect</th>
                        <td><%-ce_data[0]['effect'].replace(/\n/g, '<br/>')%></td>
                    </tr>
                    <tr>
                        <th style="width: 15%;">MLB Effect</th>
                        <td><%-ce_data[0]['mlb_effect'].replace(/\n/g, '<br/>')%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="label description-label"><h5>Description</h5></div>
        <div class="profile-row">
            <table class="table-content description-table table-border">
                <tbody class="text-center">
                    <tr>
                        <td><%-ce_data[0]['description'].replace(/\n/g, '<br/>')%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            $("#navbar-placeholder").load("navbar.html");
        });
    </script>
    <script src="/main.js"></script>
</body>
</html>