<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" href="/imgs/Saintquartz.png" sizes="16x16" type="image/png">
    <title><%=servant_data[0]['name']%></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <!-- NavBar -->
    <div id="navbar-placeholder" style="position: sticky; z-index: 2;"></div>
    <!-- End NavBar -->

    <div class="profile-content-wrapper">
        <div class="label id-label"><h5>ID: <%=servant_data[0]['servant_id']%></h5></div>
        <div class="profile-row">
            <div class="img-wrapper">
                <img src="<%=servant_final_asc_img[0]['path']%>" style="object-fit: contain;">
            </div>
            <div class="table-wrapper" style="overflow-x: auto;">
                <table class="table-content servant-table">
                    <thead>
                        <tr>
                            <th style="font-size: 24px; float: left;"><%=servant_data[0]['name']%></th>
                            <th style="text-align: right;"><a href="/servant/class/<%=servant_data[0]['class_name']%>"><img src="<%=servant_class_img[0]['path']%>" style="width: 40px; height: 40px;"></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Illustrator: </b><%=servant_data[0]['illustrator']%></td>
                            <td><b>Voice Actor: </b><%=servant_data[0]['voice_actor']%></td>
                        </tr>
                        <tr>
                            <td><b>Min HP: </b><%=servant_data[0]['min_hp']%></td>
                            <td><b>Max HP: </b><%=servant_data[0]['max_hp']%></td>
                        </tr>
                        <tr>
                            <td><b>Min ATK: </b><%=servant_data[0]['min_atk']%></td>
                            <td><b>Max ATK: </b><%=servant_data[0]['max_atk']%></td>
                        </tr>
                        <tr>
                            <td><b>Cost: </b><%=servant_data[0]['cost']%></td>
                            <td><b>Gender: </b><%=servant_data[0]['gender']%></td>
                        </tr>
                        <tr>
                            <td><b>Star Absorb: </b><%=servant_data[0]['star_weight']%></td>
                            <td><b>Star Gen: </b><%=servant_data[0]['star_gen']%></td>
                        </tr>
                        <tr>
                            <td><b>NP Gain ATK: </b><%=servant_data[0]['np_gain_atk']%></td>
                            <td><b>NP Gain DEF: </b><%=servant_data[0]['np_gain_def']%></td>
                        </tr>
                        <tr>
                            <td><b><a href="/alignment">Alignment</a>: </b><a href="/alignment/<%=servant_data[0]['alignment'].replace(' ', '_')%>"><%=servant_data[0]['alignment']%></a></td>
                            <td><b><a href="/attribute">Attribute</a>: </b><a href="/attribute/<%=servant_data[0]['attribute'].replace(' ', '_')%>"><%=servant_data[0]['attribute']%></a></td>
                        </tr>
                        <tr>
                            <td><b>Death Rate: </b><%=servant_data[0]['death_rate']%></td>
                            <td><b>Rarity: </b><a href="/servant/rarity/<%=servant_data[0]['rarity']%>"><%=servant_data[0]['rarity']%>&#9733;</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <b>Traits: </b>
                                <% for(let i = 0; i < servant_traits_data.length - 1; ++i) { %>
                                    <a href="/trait/<%=servant_traits_data[i]['trait'].replace(' ', '_')%>"><%=servant_traits_data[i]['trait']%>, </a>
                                <% } %>
                                <a href="/trait/<%=servant_traits_data[servant_traits_data.length-1]['trait']%>"><%=servant_traits_data[servant_traits_data.length-1]['trait']%></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <% if(servant_skill_data.length > 0) { %>
            <div class="label skills-label"><h5>Skills</h5></div>
            <div class="profile-row">
                <div class="tab-list skills-list">
                    <button class="tab-links active" onclick="switch_tabs(event, 'skills-panel', 'first-skill');">FIRST SKILL</button>
                    <button class="tab-links" onclick="switch_tabs(event, 'skills-panel', 'second-skill');">SECOND SKILL</button>
                    <button class="tab-links" onclick="switch_tabs(event, 'skills-panel', 'third-skill');">THIRD SKILL</button>
                </div>
            </div>
            <div class="tab-content" id="skills-panel">
                <div class="tab-panels" id="first-skill">
                    <div class="tab-list first-skill-list">
                        <% let first_skill = servant_skill_data.filter((skill) => { %>
                            <% return skill.skill_number < 2; %>
                        <% }) %>
                        <% let first_skill_ups = servant_skill_levels.filter((skill_levels) => { %>
                            <% return skill_levels.skill_number == 1.0 && skill_levels.skill_level == 1; %>
                        <% }) %>
                        <% if(first_skill.length > 1) { %>
                            <button class="tab-links active" onclick="switch_tabs(event, 'first-skill-panel', 'first-skill-0');"><%=first_skill[0]['skill_name'] %></button>
                            <% for(let i = 1; i < first_skill.length; ++i) { %>
                                <button class="tab-links" onclick="switch_tabs(event, 'first-skill-panel', 'first-skill-<%=i%>');"><%=first_skill[i]['skill_name'] %></button>
                            <% } %>
                        <% } %>
                    </div>
                    <div style="overflow-x: auto;">
                        <div class="tab-content" id="first-skill-panel">
                            <div class="tab-panels" id="first-skill-0">
                                <table class="table-content skill-table table-border">
                                    <thead>
                                        <tr>
                                            <th colspan="11"><%=first_skill[0]['skill_name']%> <%=first_skill[0]['skill_rank']%></th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center" style="width: 100%;">
                                        <tr>
                                            <td colspan="11"><%-first_skill[0]['effect'].replace(/\n/g, '<br/>')%></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 15%;">Level</th>
                                            <th>1</td>
                                            <th>2</td>
                                            <th>3</td>
                                            <th>4</td>
                                            <th>5</td>
                                            <th>6</td>
                                            <th>7</td>
                                            <th>8</td>
                                            <th>9</td>
                                            <th>10</td>
                                        </tr>
                                        <% for(let i = 0; i < first_skill_ups.length; ++i) { %>
                                            <tr>
                                                <th style="width: 15%;"><%=first_skill_ups[i]['skill_up_effect']%></td>
                                                    <% let skill_ups = servant_skill_levels.filter(skill_ups => { %>
                                                        <% return skill_ups.skill_up_effect == first_skill_ups[i]['skill_up_effect'] && skill_ups.skill_number == 1 %>
                                                    <% }) %>
                                                    <% for(let j = 0; j < skill_ups.length; ++j) { %>
                                                        <td><%=skill_ups[j]['modifier']%></td>
                                                    <% } %>
                                            </tr>
                                        <% } %>
                                        <% cooldowns = Array.from(new Set(servant_skill_levels.filter((ele) => { %>
                                        <%    return ele.skill_number == 1; %>
                                        <% }).map((e) => { %>
                                        <%     return e.cooldown; %>
                                        <% }))).map(JSON.parse) %>
                                        <tr>
                                            <th>Cooldown</th>
                                            <td colspan="5"><%=cooldowns[0]%></td>
                                            <td colspan="4"><%=cooldowns[1]%></td>
                                            <td colspan="1"><%=cooldowns[2]%></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <% for(let i = 1; i < first_skill.length; ++i) { %>
                                <% let first_skill_ups = servant_skill_levels.filter((skill_levels) => { %>
                                    <% return skill_levels.skill_number == parseFloat("1." + i) && skill_levels.skill_level == 1; %>
                                <% }) %>
                                <div class="tab-panels" id="first-skill-<%=i%>">
                                    <table class="table-content skill-table table-border">
                                        <thead>
                                            <tr>
                                                <th colspan="11"><%=first_skill[i]['skill_name']%> <%=first_skill[i]['skill_rank']%></th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center" style="width: 100%;">
                                            <tr>
                                                <td colspan="11"><%-first_skill[i]['effect'].replace(/\n/g, '<br/>')%></td>
                                            </tr>
                                            <tr>
                                                <th style="width: 15%;">Level</th>
                                                <th>1</td>
                                                <th>2</td>
                                                <th>3</td>
                                                <th>4</td>
                                                <th>5</td>
                                                <th>6</td>
                                                <th>7</td>
                                                <th>8</td>
                                                <th>9</td>
                                                <th>10</td>
                                            </tr>
                                            <% for(let j = 0; j < first_skill_ups.length; ++j) { %>
                                                <tr>
                                                    <th style="width: 15%;"><%=first_skill_ups[j]['skill_up_effect']%></td>
                                                        <% let skill_ups = servant_skill_levels.filter(skill_ups => { %>
                                                            <% return skill_ups.skill_up_effect == first_skill_ups[j]['skill_up_effect'] && skill_ups.skill_number == parseFloat("1." + i) %>
                                                        <% }) %>
                                                        <% for(let k = 0; k < skill_ups.length; ++k) { %>
                                                            <td><%=skill_ups[k]['modifier']%></td>
                                                        <% } %>
                                                </tr>
                                            <% } %>
                                            <% cooldowns = Array.from(new Set(servant_skill_levels.filter((ele) => { %>
                                            <%    return ele.skill_number == 1; %>
                                            <% }).map((e) => { %>
                                            <%     return e.cooldown; %>
                                            <% }))).map(JSON.parse) %>
                                            <tr>
                                                <th>Cooldown</th>
                                                <td colspan="5"><%=cooldowns[0]%></td>
                                                <td colspan="4"><%=cooldowns[1]%></td>
                                                <td colspan="1"><%=cooldowns[2]%></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="tab-panels" id="second-skill">
                    <div class="tab-list second-skill-list">
                        <% let second_skill = servant_skill_data.filter((skill) => { %>
                            <% return skill.skill_number >= 2 && skill.skill_number < 3; %>
                        <% }) %>
                        <% let second_skill_ups = servant_skill_levels.filter((skill_levels) => { %>
                            <% return skill_levels.skill_number == 2.0 && skill_levels.skill_level == 1; %>
                        <% }) %>
                        <% if(second_skill.length > 1) { %>
                            <button class="tab-links active" onclick="switch_tabs(event, 'second-skill-panel', 'second-skill-0');"><%=second_skill[0]['skill_name'] %></button>
                            <% for(let i = 1; i < second_skill.length; ++i) { %>
                                <button class="tab-links" onclick="switch_tabs(event, 'second-skill-panel', 'second-skill-<%=i%>');"><%=second_skill[i]['skill_name'] %></button>
                            <% } %>
                        <% } %>
                    </div>
                    <div style="overflow-x: auto;">
                        <div class="tab-content" id="second-skill-panel">
                            <div class="tab-panels" id="second-skill-0">
                                <table class="table-content skill-table table-border">
                                    <thead>
                                        <tr>
                                            <th colspan="11"><%=second_skill[0]['skill_name']%> <%=second_skill[0]['skill_rank']%></th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center" style="width: 100%;">
                                        <tr>
                                            <td colspan="11"><%-second_skill[0]['effect'].replace(/\n/g, '<br/>')%></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 15%;">Level</th>
                                            <th>1</td>
                                            <th>2</td>
                                            <th>3</td>
                                            <th>4</td>
                                            <th>5</td>
                                            <th>6</td>
                                            <th>7</td>
                                            <th>8</td>
                                            <th>9</td>
                                            <th>10</td>
                                        </tr>
                                        <% for(let i = 0; i < second_skill_ups.length; ++i) { %>
                                            <tr>
                                                <th style="width: 15%;"><%=second_skill_ups[i]['skill_up_effect']%></td>
                                                    <% let skill_ups = servant_skill_levels.filter(skill_ups => { %>
                                                        <% return skill_ups.skill_up_effect == second_skill_ups[i]['skill_up_effect'] && skill_ups.skill_number == 2 %>
                                                    <% }) %>
                                                    <% for(let j = 0; j < skill_ups.length; ++j) { %>
                                                        <td><%=skill_ups[j]['modifier']%></td>
                                                    <% } %>
                                            </tr>
                                        <% } %>
                                        <% cooldowns = Array.from(new Set(servant_skill_levels.filter((ele) => { %>
                                        <%    return ele.skill_number == 1; %>
                                        <% }).map((e) => { %>
                                        <%     return e.cooldown; %>
                                        <% }))).map(JSON.parse) %>
                                        <tr>
                                            <th>Cooldown</th>
                                            <td colspan="5"><%=cooldowns[0]%></td>
                                            <td colspan="4"><%=cooldowns[1]%></td>
                                            <td colspan="1"><%=cooldowns[2]%></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <% for(let i = 1; i < second_skill.length; ++i) { %>
                                <% let second_skill_ups = servant_skill_levels.filter((skill_levels) => { %>
                                    <% return skill_levels.skill_number == parseFloat("2." + i) && skill_levels.skill_level == 1; %>
                                <% }) %>
                                <div class="tab-panels" id="second-skill-<%=i%>">
                                    <table class="table-content skill-table table-border">
                                        <thead>
                                            <tr>
                                                <th colspan="11"><%=second_skill[i]['skill_name']%> <%=second_skill[i]['skill_rank']%></th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center" style="width: 100%;">
                                            <tr>
                                                <td colspan="11"><%-second_skill[i]['effect'].replace(/\n/g, '<br/>')%></td>
                                            </tr>
                                            <tr>
                                                <th style="width: 15%;">Level</th>
                                                <th>1</td>
                                                <th>2</td>
                                                <th>3</td>
                                                <th>4</td>
                                                <th>5</td>
                                                <th>6</td>
                                                <th>7</td>
                                                <th>8</td>
                                                <th>9</td>
                                                <th>10</td>
                                            </tr>
                                            <% for(let j = 0; j < second_skill_ups.length; ++j) { %>
                                                <tr>
                                                    <th style="width: 15%;"><%=second_skill_ups[j]['skill_up_effect']%></td>
                                                        <% let skill_ups = servant_skill_levels.filter(skill_ups => { %>
                                                            <% return skill_ups.skill_up_effect == second_skill_ups[j]['skill_up_effect'] && skill_ups.skill_number == parseFloat("2." + i) %>
                                                        <% }) %>
                                                        <% for(let k = 0; k < skill_ups.length; ++k) { %>
                                                            <td><%=skill_ups[k]['modifier']%></td>
                                                        <% } %>
                                                </tr>
                                            <% } %>
                                            <% cooldowns = Array.from(new Set(servant_skill_levels.filter((ele) => { %>
                                            <%    return ele.skill_number == 1; %>
                                            <% }).map((e) => { %>
                                            <%     return e.cooldown; %>
                                            <% }))).map(JSON.parse) %>
                                            <tr>
                                                <th>Cooldown</th>
                                                <td colspan="5"><%=cooldowns[0]%></td>
                                                <td colspan="4"><%=cooldowns[1]%></td>
                                                <td colspan="1"><%=cooldowns[2]%></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="tab-panels" id="third-skill">
                    <div class="tab-list third-skill-list">
                        <% let third_skill = servant_skill_data.filter((skill) => { %>
                            <% return skill.skill_number >= 3 && skill.skill_number < 4; %>
                        <% }) %>
                        <% let third_skill_ups = servant_skill_levels.filter((skill_levels) => { %>
                            <% return skill_levels.skill_number == 3.0 && skill_levels.skill_level == 1; %>
                        <% }) %>
                        <% if(third_skill.length > 1) { %>
                            <button class="tab-links active" onclick="switch_tabs(event, 'third-skill-panel', 'third-skill-0');"><%=third_skill[0]['skill_name'] %></button>
                            <% for(let i = 1; i < third_skill.length; ++i) { %>
                                <button class="tab-links" onclick="switch_tabs(event, 'third-skill-panel', 'third-skill-<%=i%>');"><%=third_skill[i]['skill_name'] %></button>
                            <% } %>
                        <% } %>
                    </div>
                    <div style="overflow-x: auto;">
                        <div class="tab-content" id="third-skill-panel">
                            <div class="tab-panels" id="third-skill-0">
                                <table class="table-content skill-table table-border">
                                    <thead>
                                        <tr>
                                            <th colspan="11"><%=third_skill[0]['skill_name']%> <%=third_skill[0]['skill_rank']%></th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center" style="width: 100%;">
                                        <tr>
                                            <td colspan="11"><%-third_skill[0]['effect'].replace(/\n/g, '<br/>')%></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 15%;">Level</th>
                                            <th>1</td>
                                            <th>2</td>
                                            <th>3</td>
                                            <th>4</td>
                                            <th>5</td>
                                            <th>6</td>
                                            <th>7</td>
                                            <th>8</td>
                                            <th>9</td>
                                            <th>10</td>
                                        </tr>
                                        <% for(let i = 0; i < third_skill_ups.length; ++i) { %>
                                            <tr>
                                                <th style="width: 15%;"><%=third_skill_ups[i]['skill_up_effect']%></td>
                                                    <% let skill_ups = servant_skill_levels.filter(skill_ups => { %>
                                                        <% return skill_ups.skill_up_effect == third_skill_ups[i]['skill_up_effect'] && skill_ups.skill_number == 3 %>
                                                    <% }) %>
                                                    <% for(let j = 0; j < skill_ups.length; ++j) { %>
                                                        <td><%=skill_ups[j]['modifier']%></td>
                                                    <% } %>
                                            </tr>
                                        <% } %>
                                        <% cooldowns = Array.from(new Set(servant_skill_levels.filter((ele) => { %>
                                        <%    return ele.skill_number == 1; %>
                                        <% }).map((e) => { %>
                                        <%     return e.cooldown; %>
                                        <% }))).map(JSON.parse) %>
                                        <tr>
                                            <th>Cooldown</th>
                                            <td colspan="5"><%=cooldowns[0]%></td>
                                            <td colspan="4"><%=cooldowns[1]%></td>
                                            <td colspan="1"><%=cooldowns[2]%></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <% for(let i = 1; i < third_skill.length; ++i) { %>
                                <% let third_skill_ups = servant_skill_levels.filter((skill_levels) => { %>
                                    <% return skill_levels.skill_number == parseFloat("3." + i) && skill_levels.skill_level == 1; %>
                                <% }) %>
                                <div class="tab-panels" id="third-skill-<%=i%>">
                                    <table class="table-content skill-table table-border">
                                        <thead>
                                            <tr>
                                                <th colspan="11"><%=third_skill[i]['skill_name']%> <%=third_skill[i]['skill_rank']%></th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center" style="width: 100%;">
                                            <tr>
                                                <td colspan="11"><%-third_skill[i]['effect'].replace(/\n/g, '<br/>')%></td>
                                            </tr>
                                            <tr>
                                                <th style="width: 15%;">Level</th>
                                                <th>1</td>
                                                <th>2</td>
                                                <th>3</td>
                                                <th>4</td>
                                                <th>5</td>
                                                <th>6</td>
                                                <th>7</td>
                                                <th>8</td>
                                                <th>9</td>
                                                <th>10</td>
                                            </tr>
                                            <% for(let j = 0; j < third_skill_ups.length; ++j) { %>
                                                <tr>
                                                    <th style="width: 15%;"><%=third_skill_ups[j]['skill_up_effect']%></td>
                                                        <% let skill_ups = servant_skill_levels.filter(skill_ups => { %>
                                                            <% return skill_ups.skill_up_effect == third_skill_ups[j]['skill_up_effect'] && skill_ups.skill_number == parseFloat("3." + i) %>
                                                        <% }) %>
                                                        <% for(let k = 0; k < skill_ups.length; ++k) { %>
                                                            <td><%=skill_ups[k]['modifier']%></td>
                                                        <% } %>
                                                </tr>
                                            <% } %>
                                            <% cooldowns = Array.from(new Set(servant_skill_levels.filter((ele) => { %>
                                            <%    return ele.skill_number == 1; %>
                                            <% }).map((e) => { %>
                                            <%     return e.cooldown; %>
                                            <% }))).map(JSON.parse) %>
                                            <tr>
                                                <th>Cooldown</th>
                                                <td colspan="5"><%=cooldowns[0]%></td>
                                                <td colspan="4"><%=cooldowns[1]%></td>
                                                <td colspan="1"><%=cooldowns[2]%></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="label passive-skills-label"><h5>Passive Skills</h5></div>
        <div class="profile-row">
            <table class="table-content ps-table table-border">
                <thead>
                    <tr>
                        <th colspan="2">Passives</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < servant_passive_skills.length; ++i) { %>
                        <tr>
                            <th rowspan="2" style="width: 5%; vertical-align: middle;"><%=i+1%></th>
                            <th><%=servant_passive_skills[i]['passive']%> <%=servant_passive_skills[i]['rank']%></th>
                        </tr>
                        <tr>
                            <td><%=servant_passive_skills[i]['effect']%></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="label np-label"><h5>Noble Phantasm</h5></div>
        <div class="profile-row">
            <% if(servant_np_data.length > 1) { %>
                <div class="tab-list np-list">
                    <button class="tab-links active" onclick="switch_tabs(event, 'np-panel', 'np-0');"><%=servant_np_data[0]['name'].split(':')[0]%></button>
                    <% for(let i = 1; i < servant_np_data.length; ++i) { %>
                        <button class="tab-links" onclick="switch_tabs(event, 'np-panel', 'np-<%=i%>');"><%=servant_np_data[i]['name'].split(':')[0]%></button>
                    <% } %>
                </div>
            <% } %>
        </div>
        <div style="overflow-x: auto;">
            <div class="tab-content" id="np-panel">
                <div class="tab-panels" id="np-0">
                    <table class="table-content np-table table-border">
                        <thead>
                            <th colspan="6"><%=servant_np_data[0]['name']%></th>
                        </thead>
                        <tbody>
                            <tr>
                                <% let card_type_links = {'Buster': 'https://vignette.wikia.nocookie.net/fategrandorder/images/6/6e/Buster.png/revision/latest/scale-to-width-down/75?cb=20151024070603',
                                                        'Arts': 'https://vignette.wikia.nocookie.net/fategrandorder/images/9/95/Arts.png/revision/latest/scale-to-width-down/75?cb=20151024070603',
                                                        'Quick': 'https://vignette.wikia.nocookie.net/fategrandorder/images/8/84/Quick.png/revision/latest/scale-to-width-down/75?cb=20151024070603'} %>
                                <td rowspan="2" colspan="2" style="width: 15%; text-align: center;"><img src="<%=card_type_links[servant_np_data[0]['card_type']]%>"></td>
                                <th colspan="2">Rank</th>
                                <th colspan="2">Classification</th>
                            </tr>
                            <tr>
                                <td colspan="2"><%=servant_np_data[0]['rank']%></td>
                                <td colspan="2"><%=servant_np_data[0]['classification']%></td>
                            </tr>
                            <tr>
                                <th style="width: 15%;">Effect</th>
                                <td colspan="5"><%-servant_np_data[0]['effect'].replace(/\n/g, '<br/>')%></td>
                            </tr>
                            <tr>
                                <th style="width: 15%;">NP Level</th>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                            </tr>
                            <% let np_effect_modifiers = servant_np_levels.filter(e => { return e.level == 1; }) %>
                            <% for(let i = 0; i < np_effect_modifiers.length; ++i) { %>
                                <% let effect_modifiers = servant_np_levels.filter(e => { return e.np_effect_modifier == np_effect_modifiers[i]['np_effect_modifier']; }) %>
                                <tr>
                                    <th style="width: 15%;"><%=effect_modifiers[0]['np_effect_modifier']%></th>
                                    <td><%=effect_modifiers[0]['np_modifier']%></td>
                                    <td><%=effect_modifiers[1]['np_modifier']%></td>
                                    <td><%=effect_modifiers[2]['np_modifier']%></td>
                                    <td><%=effect_modifiers[3]['np_modifier']%></td>
                                    <td><%=effect_modifiers[4]['np_modifier']%></td>
                                </tr>
                            <% } %>
                            <tr>
                                <th style="width: 15%;">OC Effect</th>
                                <td colspan="5"><%-servant_np_data[0]['oc_effect'].replace(/\n/g, '<br/>')%></td>
                            </tr>
                            <tr>
                                <th style="width: 15%;">Overcharge</th>
                                <th>100%</th>
                                <th>200%</th>
                                <th>300%</th>
                                <th>400%</th>
                                <th>500%</th>
                            </tr>
                            <% let oc_effect_modifiers = servant_np_oc_levels.filter(e => { return e.level == 1; }) %>
                            <% for(let i = 0; i < oc_effect_modifiers.length; ++i) { %>
                                <% let oc_modifiers = servant_np_oc_levels.filter(e => { return e.oc_effect_modifier == oc_effect_modifiers[i]['oc_effect_modifier']; }) %>
                                <tr>
                                    <th style="width: 15%;"><%=oc_effect_modifiers[0]['oc_effect_modifier']%></th>
                                    <td><%=oc_modifiers[0]['oc_modifier']%></td>
                                    <td><%=oc_modifiers[1]['oc_modifier']%></td>
                                    <td><%=oc_modifiers[2]['oc_modifier']%></td>
                                    <td><%=oc_modifiers[3]['oc_modifier']%></td>
                                    <td><%=oc_modifiers[4]['oc_modifier']%></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <% for(let i = 1; i < servant_np_data.length; ++i) { %>
                    <div class="tab-panels" id="np-<%=i%>">
                        <table class="table-content np-table table-border">
                            <thead>
                                <th colspan="6"><%=servant_np_data[i]['name']%></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2" colspan="2" style="width: 15%; text-align: center;"><img src="<%=card_type_links[servant_np_data[0]['card_type']]%>"></td>
                                    <th colspan="2">Rank</th>
                                    <th colspan="2">Classification</th>
                                </tr>
                                <tr>
                                    <td colspan="2"><%=servant_np_data[i]['rank']%></td>
                                    <td colspan="2"><%=servant_np_data[i]['classification']%></td>
                                </tr>
                                <tr>
                                    <th style="width: 15%;">Effect</th>
                                    <td colspan="5"><%-servant_np_data[i]['effect'].replace(/\n/g, '<br/>')%></td>
                                </tr>
                                <tr>
                                    <th style="width: 15%;">NP Level</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                </tr>
                                <% let np_effect_modifiers = servant_np_levels.filter(e => { return e.level == 1; }) %>
                                <% for(let j = 0; j < np_effect_modifiers.length; ++j) { %>
                                    <% let effect_modifiers = servant_np_levels.filter(e => { return e.np_effect_modifier == np_effect_modifiers[j]['np_effect_modifier']; }) %>
                                    <tr>
                                        <th style="width: 15%;"><%=effect_modifiers[0]['np_effect_modifier']%></th>
                                        <td><%=effect_modifiers[0]['np_modifier']%></td>
                                        <td><%=effect_modifiers[1]['np_modifier']%></td>
                                        <td><%=effect_modifiers[2]['np_modifier']%></td>
                                        <td><%=effect_modifiers[3]['np_modifier']%></td>
                                        <td><%=effect_modifiers[4]['np_modifier']%></td>
                                    </tr>
                                <% } %>
                                <tr>
                                    <th style="width: 15%;">OC Effect</th>
                                    <td colspan="5"><%-servant_np_data[i]['oc_effect'].replace(/\n/g, '<br/>')%></td>
                                </tr>
                                <tr>
                                    <th style="width: 15%;">Overcharge</th>
                                    <th>100%</th>
                                    <th>200%</th>
                                    <th>300%</th>
                                    <th>400%</th>
                                    <th>500%</th>
                                </tr>
                                <% let oc_effect_modifiers = servant_np_oc_levels.filter(e => { return e.level == 1; }) %>
                                <% for(let j = 0; j < oc_effect_modifiers.length; ++j) { %>
                                    <% let oc_modifiers = servant_np_oc_levels.filter(e => { return e.oc_effect_modifier == oc_effect_modifiers[j]['oc_effect_modifier']; }) %>
                                    <tr>
                                        <th style="width: 15%;"><%=oc_modifiers[i]['oc_effect_modifier']%></th>
                                        <td><%=oc_modifiers[0]['oc_modifier']%></td>
                                        <td><%=oc_modifiers[1]['oc_modifier']%></td>
                                        <td><%=oc_modifiers[2]['oc_modifier']%></td>
                                        <td><%=oc_modifiers[3]['oc_modifier']%></td>
                                        <td><%=oc_modifiers[4]['oc_modifier']%></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="label asc-mats-label"><h5>Ascension Materials</h5></div>
        <div style="overflow-x: auto;">
            <div class="profile-row">
                <table class="table-content asc-mats-table table-border">
                    <thead>
                        <tr>
                            <th colspan="6">Ascension Materials</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <% for(let i = 0; i < 4; ++i) { %>
                            <tr>
                                <% let asc_mats = servant_asc_materials.filter(mats => { %>
                                    <% return mats.ascension == i + 1; %>
                                <% }); %>
                                <% let qp_mat = asc_mats.pop(); %>
                                <th style="width: 15%;">Asc. <%=i+1%></th>
                                <% for(let j = 0; j < 4; ++j) { %>
                                    <% if(asc_mats[j] != undefined) { %>
                                        <td>
                                            <div class="mat-img-container">
                                                <a href="/material/<%=asc_mats[j]['name'].replace(' ','_')%>"><img class="mat-img" src="<%=asc_mats[j]['path']%>" alt="<%=asc_mats[j]['name']%>"></a>
                                                <div class="mat-amt"><%=asc_mats[j]['amount']%></div>
                                            </div>
                                        </td>
                                    <% } else { %>
                                        <td><div class="mat-img-container"></div></td>
                                    <% } %>
                                <% } %>
                                <td>
                                    <div class="mat-img-container">
                                        <a href="/material/<%=qp_mat['name'].replace(' ','_')%>"><img class="mat-img" src="<%=qp_mat['path']%>" alt="<%=qp_mat['name']%>"></a>
                                        <div class="mat-amt"><%=qp_mat['amount']%></div>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="label skill-mats-label"><h5>Skill Reinforcement Materials</h5></div>
        <div style="overflow-x: auto;">
            <div class="profile-row">
                <table class="table-content skill-mat-table table-border">
                    <thead>
                        <tr>
                            <th colspan="6">Skill Reinforcement Materials</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <% for(let i = 0; i < 9; ++i) { %>
                            <tr>
                                <% let skill_mats = servant_skill_materials.filter(mats => { %>
                                    <% return mats.skill_level == i + 1; %>
                                <% }); %>
                                <th style="width: 15%;">Skill <%=i+1%></th>
                                <% let qp_mat = skill_mats.pop(); %>
                                <% for(let j = 0; j < 4; ++j) { %>
                                    <% if(skill_mats[j] != undefined) { %>
                                        <td>
                                            <div class="mat-img-container">
                                                <a href="/material/<%=skill_mats[j]['name'].replace(' ','_')%>"><img src="<%=skill_mats[j]['path']%>" alt="<%=skill_mats[j]['name']%>" class="mat-img"></a>
                                                <div class="mat-amt"><%=skill_mats[j]['amount']%></div>
                                            </div>
                                        </td>
                                    <% } else { %>
                                        <td><div class="mat-img-container"></div></td>
                                    <% } %>
                                <% } %>
                                <td>
                                    <div class="mat-img-container">
                                        <a href="/material/<%=qp_mat['name'].replace(' ','_')%>"><img class="mat-img" src="<%=qp_mat['path']%>" alt="<%=qp_mat['name']%>"></a>
                                        <div class="mat-amt"><%=qp_mat['amount']%></div>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="label total-mats-label"><h5>Total Materials</h5></div>
        <div style="overflow-x: auto;">
            <div class="profile-row">
                <table class="table-content total-mats-table">
                    <thead>
                        <th colspan="100">Total Materials</th>
                    </thead>
                    <tbody>
                        <tr>
                            <% for(let i = 0; i < servant_total_materials.length; ++i) { %>
                                <td style="padding: 5px 8px;">
                                    <div class="mat-img-container">
                                        <a href="/material/<%=servant_total_materials[i]['name'].replace(' ','_')%>"><img class="mat-img" src="<%=servant_total_materials[i]['path']%>" alt="<%=servant_total_materials[i]['name']%>"></a>
                                        <div class="mat-amt"><%=servant_total_materials[i]['amount']%></div>
                                    </div>
                                </td>
                            <% } %>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="label stats-label"><h5>Stats</h5></div>
        <div style="overflow-x: auto;">
            <div class="profile-row">
                <table class="table-content stats-table table-border">
                    <thead>
                        <tr>
                            <th colspan="4">Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Strength:</th>
                            <td><b><%=servant_stats_data[0]['strength']%></b></td>
                            <th>Agility:</th>
                            <td><b><%=servant_stats_data[0]['agility']%></b></td>
                        </tr>
                        <tr>
                            <th>Endurance:</th>
                            <td><b><%=servant_stats_data[0]['endurance']%></b></td>
                            <th>Mana:</th>
                            <td><b><%=servant_stats_data[0]['mana']%></b></td>
                        </tr>
                        <tr>
                            <th>Luck:</th>
                            <td><b><%=servant_stats_data[0]['luck']%></b></td>
                            <th>NP:</th>
                            <td><b><%=servant_stats_data[0]['np'] || '-'%></b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="label bond-label"><h5>Bond Dialogues</h5></div>
        <div class="profile-row">
            <div class="tab-list bond-list">
                <button class="tab-links active" onclick="switch_tabs(event, 'bond-panels', 'bond-panel-0');"><%=servant_bond_dialogues[0]['bond_level']%></button>
                <% for(let i = 1; i < servant_bond_dialogues.length; ++i) { %>
                    <button class="tab-links" onclick="switch_tabs(event, 'bond-panels', 'bond-panel-<%=i%>');"><%=servant_bond_dialogues[i]['bond_level']%></button>
                <% } %>
            </div>
        </div>
        <div style="overflow-x: auto;">
            <div class="tab-content" id="bond-panels">
                <div class="tab-panels" id="bond-panel-0">
                    <table class="table-content bond-table table-border">
                        <thead>
                            <th><%=servant_bond_dialogues[0]['bond_level']%></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%-servant_bond_dialogues[0]['dialogue'].replace(/\n/g, '<br/>')%></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <% for(let i = 1; i < servant_bond_dialogues.length; ++i) { %>
                    <div class="tab-panels" id="bond-panel-<%=i%>">
                        <table class="table-content bond-table table-border">
                            <thead>
                                <th>
                                    <%=servant_bond_dialogues[i]['bond_level']%>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%-servant_bond_dialogues[i]['dialogue'].replace(/\n/g, '<br/>')%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            $("#navbar-placeholder").load("navbar.html");
        });
    </script>
    <script src="/main.js"></script>
    <script>        
        document.querySelectorAll(`.tab-links.active`).forEach((tablink) => { tablink.click(); });
    </script>
</body>
</html>